:root {
    --violet: rgb(139 92 246);
    --dark: rgb(0, 0, 0);
  }

@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: var(--dark) var(--violet);
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--dark);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--violet);
}

@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmsans/v10/rP2Cp2ywxg089UriASitOB8.ttf) format('truetype');
}

@layer base {
    html, body, #root {
        @apply h-full bg-[#000]
    }
}